body{
    margin: auto;
    width: 90%;
}
    /* TABLE CARD DRIVER */
.card_driver{
    height: 100vh;
    width: 100%;
    
}

.card_driver_name_details{
    border: 1px solid black;
    
    
    
}


.card_driver_name_details tr th, td{
    
   
    border: 1px solid black;
    width:180px;
    text-align: center;
    background-color: #0083A3;
    color: white;
}

/* ========== BUTTONS UPDATE AND DELETE ========== */
.update_delete{
    margin: 50px auto;
    display: flex;
    
    justify-content: center;
}

.update_delete .update{
    margin: 0 10px;
    background-color: #34D186;
    font-size: 16px;
    font-weight: 300;
    list-style: 24px;
    border: none;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: -3px;
}

.update_delete .delete{
    margin: 0 10px;
    background-color: red;
    font-size: 16px;
    font-weight: 300;
    list-style: 24px;
    border: none;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: -3px;
}

.update_delete .modify{
    margin: 0 10px;
    background-color: blue;
    font-size: 16px;
    font-weight: 300;
    list-style: 24px;
    border: none;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: -3px;
}

/* ========== TABLE PAYMENT DRIVER ==========  */

.card_driver_payment_details{
    border: 1px solid black;
    margin-top: 50px;
    
}

.card_driver_payment_details tr th{
    border: 1px solid black;
   
}

.date_selection{
    background-color:transparent;
    
}

.date_selection input, select{
    width:95%;  
    background-color: transparent;
    border: none;
    padding: 3px;
    outline: none;
} 
.date_selection select{
    background-color: red;
    color: white;
}
